<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>fcskyui-library documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">fcskyui-library documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>TooltipComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>projects/fcsky-shared-library/src/lib/form/tooltip.component.ts</code>
</p>

    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>Component for the tooltip</p>

    </p>




<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>

            <tr>
                <td class="col-md-3">changeDetection</td>
                <td class="col-md-9"><code>ChangeDetectionStrategy.OnPush</code></td>
            </tr>










            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>fcsky-shared-tooltip</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>tooltip.component.scss</code></td>
            </tr>


            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div&gt;{{ tooltipText }}&lt;/div&gt;</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#tooltipText">tooltipText</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="tooltipText"></a>
                        <b>tooltipText</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">projects/fcsky-shared-library/src/lib/form/tooltip.component.ts:26</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>





</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { ChangeDetectionStrategy, Component, Input } from &#x27;@angular/core&#x27;;
import { animate, style, transition, trigger } from &#x27;@angular/animations&#x27;;

/**
 * Component for the tooltip
 */
@Component({
  selector: &#x27;fcsky-shared-tooltip&#x27;,
  styleUrls: [&#x27;tooltip.component.scss&#x27;],
  template: &#x60;
    &lt;div&gt;{{ tooltipText }}&lt;/div&gt;&#x60;,
  changeDetection: ChangeDetectionStrategy.OnPush,
  animations: [
    trigger(&#x27;tooltip-transition&#x27;, [
      transition(&#x27;:enter&#x27;, [
        style({ opacity: 0 }),
        animate(100, style({ opacity: 1 }))
      ]),
      transition(&#x27;:leave&#x27;, [
        animate(100, style({ opacity: 0 }))
      ])
    ])
  ]
})
export class TooltipComponent {
  @Input() public tooltipText: string;
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>tooltip.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">@import &#x27;../../assets/css/colors&#x27;;

:host {
  display: block;
  max-width: 90vw;
  max-height: 30vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  /** angular material css */
  color: white;
  background-color: $material-tooltip-background;
  font-size: 10px;
  margin: 7px;
  padding: 6px 8px;
  border-radius: 4px;
  pointer-events: none;
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div>{{ tooltipText }}</div></div>'
    var COMPONENTS = [{'name': 'ActionsComponent', 'selector': 'fcsky-shared-actions'},{'name': 'BreadcrumbComponent', 'selector': 'fcsky-shared-breadcrumb'},{'name': 'ButtonComponent', 'selector': 'fcsky-shared-button'},{'name': 'CheckboxComponent', 'selector': 'fcsky-shared-checkbox'},{'name': 'CheckboxGroupComponent', 'selector': 'fcsky-shared-checkbox-group'},{'name': 'DatepickerComponent', 'selector': 'fcsky-shared-datepicker'},{'name': 'DropdownAmcComponent', 'selector': 'fcsky-shared-dropdown-amc'},{'name': 'DropdownComponent', 'selector': 'fcsky-shared-dropdown'},{'name': 'FcskySharedLibraryComponent', 'selector': 'fcsky-shared-library'},{'name': 'FormBuilderComponent', 'selector': 'fcsky-shared-form-builder'},{'name': 'FormFieldsComponent', 'selector': 'fcsky-shared-form-fields'},{'name': 'FormSectionComponent', 'selector': 'fcsky-shared-form-section'},{'name': 'FormSelectTreeViewComponent', 'selector': 'fcsky-shared-select-tree-view'},{'name': 'FormTabComponent', 'selector': 'fcsky-shared-form-tab'},{'name': 'InputComponent', 'selector': 'fcsky-shared-input'},{'name': 'LabelComponent', 'selector': 'fcsky-shared-label'},{'name': 'LinkComponent', 'selector': 'fcsky-shared-link'},{'name': 'OptionsListComponent', 'selector': 'fcsky-shared-options-list'},{'name': 'PageHeaderComponent', 'selector': 'fcsky-shared-page-header'},{'name': 'SearchBoxComponent', 'selector': 'fcsky-shared-search-box'},{'name': 'SearchComponent', 'selector': 'fcsky-shared-search'},{'name': 'SectionComponent', 'selector': 'fcsky-shared-section'},{'name': 'SectionTitleComponent', 'selector': 'fcsky-shared-section-title'},{'name': 'SelectGroupComponent', 'selector': 'fcsky-shared-select-group'},{'name': 'SelectOptionComponent', 'selector': 'fcsky-shared-select-option'},{'name': 'SliderComponent', 'selector': 'fcsky-shared-slider'},{'name': 'SlideToggleComponent', 'selector': 'fcsky-shared-slide-toggle'},{'name': 'StickyFooterComponent', 'selector': 'fcsky-shared-sticky-footer'},{'name': 'SvgComponent', 'selector': 'fcsky-shared-svg'},{'name': 'TableComponent', 'selector': 'fcsky-shared-table'},{'name': 'TextAreaComponent', 'selector': 'fcsky-shared-textarea'},{'name': 'TooltipComponent', 'selector': 'fcsky-shared-tooltip'}];
    var DIRECTIVES = [{'name': 'GridTableFixedVirtualScrollDirective', 'selector': 'cdk-virtual-scroll-viewport[gridTableVirtualScroll]'},{'name': 'TooltipDirective', 'selector': '[fcskyTooltip]'}];
    var ACTUAL_COMPONENT = {'name': 'TooltipComponent'};
</script>
<script src="../js/tree.js"></script>














                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'TooltipComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
